body:has(.x-govuk-epib__bar) {
  padding-bottom: 3rem;
}

.x-govuk-epib__bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 1rem;
  background: #333;
  border-top: 2px solid #999;

  color: white;
}

.x-govuk-epib__bar--menu {
}

.x-govuk-epib__bar--menu--item,
.x-govuk-epib__bar--menu--item:link,
.x-govuk-epib__bar--menu--item:visited {
  font-weight: normal;
  padding: 1rem;
  text-decoration: none;
  color: white !important;
  border-right: 1px solid white;
  &:first-child {
    border-left: 1px solid white;
  }
}

.x-govuk-epib__bar--menu--item:visited:focus {
  background: #ffdd00;
  color: black;
}

.x-govuk-epib--hidden {
  display: none;
}

.x-govuk-epib__editor__code {
  display: block;
  min-height: 10rem;
  height: 40vh;
  margin: 1rem 0;
  width: 100%;
  font-size: 1rem;
}

.x-govuk-epib__editor button {
  font-size: 1rem;
  border-radius: 0;
  padding: .3rem 1rem;
}
.x-govuk-epib__editor button + button {
  margin-left: 1rem;
}

.x-govuk-epib__editor__delete-button {
  float: right;
}

.x-govuk-epib__filename {
  font-family: sans-serif;
}

.x-govuk-epib__toast-message {
  display: none;

  padding: .4rem 1rem;
  margin-bottom: 2rem;
  text-align: center;

  font-family: sans-serif;
}

.x-govuk-epib__toast-message--show {
  display: block;
}

.x-govuk-epib__toast-message--success {
  border: 1px solid greenyellow;
}

.x-govuk-epib__toast-message--failure {
  border: 1px solid orangered;
}

